{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'Home.css' %}">
</head>
<body>

<div class="topnav">
  <a class="home" href="#home">Home</a>
  <a href="{% url 'register:index' %}">Register</a>
  <a href="{% url 'login:login' %}">Login</a>
{% if logged %}
  <a href="{% url 'posts:index' %}">Posts</a>
  <a href="{% url 'summaries:viewSums' %}">Summaries</a>
  {% if user == "Admin" %}
    <a href="{% url 'admin:addAdmin' %}">Add Admin</a>
    <a href="{% url 'admin:userlist' %}">View Users</a>
    <a href="{% url 'admin:addRules' %}">Add forum rules</a>
    <a href="{% url 'admin:alerts' %}">Alerts</a>
    <a href="{% url 'admin:approvals' %}">Approvals</a>
  {% endif %}
  <a href="{% url 'Home:Logout' %}" >Logout</a>
{% endif %}
</div>
</body>
</html>
