<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <title>Social</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <br>
    <h3> Social events Forum</h3>
    <br>
    <form action="{% url 'posts:searchSocial' %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <label for="search">Search by word: </label>
        <input type="search" id="search" name="search"><br>

        <label for="start">Search by date: </label>
        <input type="date" id="date" name="date" value={{date}}> <br>
        <input type="submit" value="search">
      </form>
    <p>
        <br>
        {% if rules is not None %}
        <h5>Forum Rules:</h5> {{ rules }} <br/>
        {% endif %}
    </p>
    <br>
    {% for post in posts %}
    <p>
        <b>Title:</b> {{ post.title }} <br/>
        <b>Content:</b> <br/>
         {{ post }} <br/>
        <b>Posted by:</b> {{ post.poster }} <br/>
        <b>Posting date:</b> {{ post.date }}   <br/>
        <br>
    </p>
    {% endfor %}
    <a href="{% url 'posts:addpost' %}">Add new post</a>
</body>
</html>
