{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <style>
    body {
        padding-left: 1%;
    }
    .form-control {
        width: 30%;
    }
    .question-text {
        width: 100%;
    }
    </style>
    <title>Add quiz</title>
</head>
<body>
    <form action="{% url 'quiz:submit_quiz' %}" method="post">
        <div class="cust_container">
        {% csrf_token %}
        <h1>Add a quiz</h1>
        <label for="question_text">Enter question text:</label>
        <input class="form-control" type="text" placeholder="question text" name="question_text" id="question_text" required>
        <table>
            <tr>
                <th>Text</th>
                <th>Correct</th> 
            </tr>
            <ul>
                <tr>
                <td>
                <li>
                    <label for="choice_text1">Enter first answer:</label>
                    <input class="form-control question-text" type="text" placeholder="answer text" name="choice_text1" id="choice_text1" required>
                </li> 
                </td>
                <td>
                    <input type="checkbox" id="correct1" name="correct1" value="True">
                </td>
                </tr>

                <tr>
                <td>
                <li>
                    <label for="choice_text2">Enter second answer:</label>
                    <input class="form-control question-text" type="text" placeholder="answer text" name="choice_text2" id="choice_text2" required>
                </li> 
                </td>
                <td>
                    <input type="checkbox" id="correct2" name="correct2" value="True">
                </td>
                </tr>

                <tr>
                <td>
                <li>
                    <label for="choice_text3">Enter third answer:</label>
                    <input class="form-control question-text" type="text" placeholder="answer text" name="choice_text3" id="choice_text3">
                </li> 
                </td>
                <td>
                    <input type="checkbox" id="correct3" name="correct3" value="True">
                </td>
                </tr>

                <tr>
                <td>
                <li>
                    <label for="choice_text4">Enter fourth answer:</label>
                    <input class="form-control question-text" type="text" placeholder="answer text" name="choice_text4" id="choice_text4">
                </li> 
                </td>
                <td>
                    <input type="checkbox" id="correct4" name="correct4" value="True">
                </td>
                </tr>         
        </table></ul>
        </br>
        <button class="btn btn-primary" type="submit" class="registerbtn">Add question</button>
        </div>
    </form>
    </body>
</html>