<!DOCTYPE html>
<html>
<head>
    <title>Add Summary </title>
</head>
<body>
    <h2>Add a new summary</h2>
    <form action="{% url 'summaries:submitSum' %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id">Enter student ID: </label>
        <input id="id" type="text" name="id">
        <br><br>
        <label for="title">Enter title: </label>
        <input id="title" type="title" name="title">
        <br><br>
        <label for="course">Enter course: </label>
        <input id="course" type="course" name="course">
        <br><br>
        <label for="file">Select a file:</label> 
        <input id="file" type="file" name="file"> 
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
