<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<title>Summary Feedback</title>
</head>
<body>

<h2>Feedback for summaries</h2>

<table>
  <tr>
    <th>File</th>
    <th>Feedbacks</th>
  </tr>
  <tr>
    <td>{{ document.title }}</td>
  </tr>
  {% for feedback in feedbacks %}
  <tr>
    <td> </td>
    <td> {{ feedback.feedback }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
